<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        {% include 'layout/menu.html.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'layout/footer.html.twig' %}
    </body>

</html>
